main * {
  transition: all ease 0.5s;

  &::selection {
    background: transparent;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.card-container,
.dates {
  width: var(--width);
}

.grabbing {
  cursor: grabbing;
}
